<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Myshoplist
      <ion-icon class="icono ion-float-right" name="refresh"  (click)='doRefresh($event);'></ion-icon>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="barraPrincipal">
    <div id="formulario">
      <input type="text" id="artic" name="artic" (keyup)='checkArt($event)'>
      <button id="btnAdd" (click)="addArticleDesp();">Añadir</button>
      <div #listaArticulos *ngIf="visible" class="visible">
        <div *ngFor="let encontrado of lista" (click)="selectArt($event);" > {{encontrado.name}} </div>
      </div>
    </div>
  </div>

  <div id="tablaArticulos">
      <table class="table" id="categorias" cellpadding="0" cellspacing="0">
    <tbody>
      <tr *ngFor="let categoria of categorias | keyvalue, let indice = index" >
        <td colSpan=4>
          <div  class="categorias cat{{indice}}">{{ categoria.key }}</div>
          <div>
            <table class="table table-striped tabla_principal" id="articulos" cellpadding="0" cellspacing="0">
              <tr *ngFor="let articulo of categoria.value, let odd = odd" [ngClass]="{odd:odd}">
                <td>
                  <ion-icon name="cart"   (click)='itemPurchased(articulo.id_art,articulo.cantidad)'></ion-icon>
                </td>
                <td><a routerLink="/editar/{{articulo.id_art}}" class="nombreArt">{{ articulo.art_name }}</a></td>
                <td>
                  <select (change)="actualizarQtty(articulo.id_art,$event.target.value);">

                    <option *ngFor="let valor of valores" value="{{ valor }}" [selected]="valor==articulo.cantidad">{{
                      valor }}</option>
                  </select>
                </td>
                <td>
                  <div class="borrar" (click)="deleteArtUnic(articulo.id_art,articulo.art_name);"></div>
                </td>
              </tr>
            </table>
          </div>
        </td>

      </tr>
    </tbody>
  </table>
    <!-- <table class="table table-striped tabla_principal" id="articulos" cellpadding="0" cellspacing="0">
      <tbody>
        <tr *ngFor="let articulo of articulos; let odd = odd" [ngClass]="{odd:odd}">
          <td>
            <ion-icon name="cart"  (click)='itemPurchased(articulo.id_articulo,articulo.cantidad)'></ion-icon>
          </td>
          <td>{{ articulo.name }}</td>
          <td>
            <select (change)="actualizarQtty(articulo.id_articulo,$event.target.value);">

              <option *ngFor="let valor of valores" value="{{ valor }}" [selected]="valor==articulo.cantidad" >{{ valor }}</option>
            </select>
          </td>
          <td><div class="borrar" (click)="deleteArtUnic(articulo.id,articulo.name);"></div></td>
        </tr>
      </tbody>
    </table> -->

    <div id="comprados">
      <div class="borrar" (click)="deleteArt();"></div>
      <h2>Artículos comprados</h2>
    </div>
    <table class="table table-striped tabla_principal" id="articulosComp" cellpadding="0" cellspacing="0">
      <tbody>
        <tr *ngFor="let articulo of articulosComp; let odd = odd" [ngClass]="{odd:odd}">
          <td>
            <ion-icon name="arrow-undo" (click)='returnItemPurchased(articulo.id_articulo)'></ion-icon>
          </td>
          <td>{{ articulo.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</ion-content>